.App {
  padding: 3rem 1rem;
  color: var(--light-gray-blue);
}

* > svg {
  cursor: pointer;
}

.App img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: var(--vLight-gray);
  font-size: 0.9rem;
}

.NewTodoBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: 5px;
  background-color: var(--vDark-gray-blue2);
}

.NewTodoBar > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle {
  border: 1px solid var(--vDark-gray-blue);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.circle:hover {
  border-color: var(--hLight-gray-blue);
  cursor: pointer;
}

.checked {
  background: var(--check-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewTodoBar > div > input {
  background-color: var(--vDark-gray-blue2);
  color: var(--light-gray-blue);
  border: none;
  font-size: 1rem;
}

.NewTodoBar > div > input:focus-visible {
  outline: none;
}

.TodoList {
  margin: 1rem 0;
  border-radius: 5px;
  background-color: var(--vDark-gray-blue2);
  font-size: 0.85rem;
}

.TodoListFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--vDark-gray-blue);
}

.TodoListFooter > span:last-of-type:hover {
  cursor: pointer;
  color: var(--hLight-gray-blue);
}

.Todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--vDark-gray-blue);
}

.Todo > span:hover {
  color: var(--hLight-gray-blue);
  cursor: pointer;
}

.Todo > .delete-btn {
  margin-left: auto;
  cursor: pointer;
}

.CategoriesBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--vDark-gray-blue2);
  color: var(--vDark-gray-blue);
}

.CategoriesBar > span:not(.active):hover {
  cursor: pointer;
  color: var(--hLight-gray-blue);
}

.CategoriesBar > .active {
  color: var(--bright-blue);
}
