:root {
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Light Theme */
  --vLight-gray: hsl(0, 0%, 98%);
  --vLight-gray-blue: hsl(236, 33%, 92%);
  --light-gray-blue: hsl(233, 11%, 84%);
  --vDark-gray-blue: hsl(235, 19%, 35%);
  --dark-gray-blue: hsl(236, 9%, 61%);
  /* Dark Theme */
  --vDark-blue: hsl(235, 21%, 11%);
  --vDark-dBlue: hsl(235, 24%, 19%);
  --light-gray-blue: hsl(234, 39%, 85%);
  --hLight-gray-blue: hsl(236, 33%, 92%);
  --dark-gray-blue: hsl(234, 11%, 52%);
  --vDark-gray-blue: hsl(233, 14%, 35%);
  --vDark-gray-blue2: hsl(237, 14%, 26%);
  /* Font */
  --light-font: 400;
  --bold-font: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  height: 100vh;
  font-size: 18px;
  background-color: var(--vDark-blue);
}
